{% extends 'detail_index.html' %}
{% block content %}
<div>
{% for image in movie.movie_image.all %}
<div>
    <p><img src="{{ image.image.url }}" width="900" height="600" alt="..."
            style="box-shadow: 0 0 10px rgba(0,0,0,10); margin-top: 20px"></p>
    </a>
</div>
{% endfor %}
</div>
<div class="container">
    <div class="row">
        <h3 class="card-title" style="margin-top: 10px">{{ movie.title }}</h3>
    </div>
    <div class="col">
        <p class="card-text">{{ movie.description }}</p>
    </div>
    <div class="col">
        <p class="card-text" style="margin-top: 10px">{{ movie.created }}</p>
    </div>
    {% endblock %}