{% extends 'index.html' %}
{% block content %}
    {% for movie in movies %}
    <div class="card" style="width: 20rem; margin-left: 5rem; margin-top: 2rem; box-shadow: 0 0 1px rgba(0,0,0,10);">
        <div class="card-body">
            <div class="carousel-inner">
                {% for image in movie.movie_image.all %}
                    <div>
                            <p><a href="{% url 'detail' movie.id %}"><img src="{{ image.image.url }}"width="300" height= "300"
                            class="d-block w-100" alt="..." style="box-shadow: 0 0 10px rgba(0,0,0,10);"></a></p>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <h5 class="card-title" style = "margin-top: 10px;">{{ movie.title }}</h5>
            <p class="card-title">{{ movie.en_title}}</p>
            <!-- <p class="card-text">{{ movie.description|truncatewords:20}}</p>
            <p class="card-text">{{ movie.created }}</p>
            <p class="card-text">By {{ movie.user }}</p> -->
            <a href="{% url 'detail' movie.id %}" class="btn btn-outline-dark">View</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}